<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Inicio</title>
</head>
<body>
	<form action="authentication" method="post">
		<table>
			<tr>
				<td><label>Email</label></td>
				<td><input name="correo" type="text" required="required" maxlength="45" /></td>
			</tr>
			<tr>
				<td><label>Pass</label></td>
				<td><input name="contraseña" type="password" required="required" maxlength="45" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Ingresar"></td>
			</tr>
		</table>
	</form>
</body>
</html>