<!DOCTYPE html>
<html>
<head xmlns="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Listado</title>
</head>
<body>
	<h3 th:text="${titulo}"></h3>
	<table>
		<thead>
		<tr>
		<td>ID</td>
		<td>Rut</td>
		<td>Nombre</td>
		<td>Apellido</td>
		<td>Correo</td>
		<td>Creación</td>
		<td>Último ingreso</td>
		</tr>
		</thead>
		<tbody>
		<tr th:each="usuario: ${usuarios}">
		<td th:text="${cliente.id}"></td>
		<td th:text="${cliente.rut}"></td>
		<td th:text="${cliente.nombre}"></td>
		<td th:text="${cliente.apellido}"></td>
		<td th:text="${cliente.email}"></td>
		<td th:text="${cliente.createAt}"></td>
		<td th:text="${cliente.lastIn}"></td>
		</tr>
		</tbody>
	</table>
</body>
</html>